.file-upload input[type="file"] {
  display: none; 
}

  
  .file-upload input[type="file"]::file-selector-button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .file-upload input[type="file"]::file-selector-button:hover {
    background-color: #005bb5;
  }